{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Flasky{% endblock %}

{% block content %}
<div class="page-header">
    <h1>GPA Report </h1>
</div>
     <style>
button {
      background-color: #555555;
      border: none;
      float: left;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
}
  </style>
<form method="post" action="{{url_for('generate') }}">
    <button type="submit">Generate report gpa</button>
</form>
<form method="post" action="{{url_for('message') }}">
    <button type="submit">show report gpa</button>
</form>
{% endblock %}

